input {
    margin: 5px 0;
  }
  
  .panel-body {
    padding: 6px 6px;
  }
  
  h1 {
    text-align: center;
  }

  h4 {
    text-align: center;
    color: #111111
  }
  
  .table-striped {
    padding-left: 5px;
  }
  
  .wrapper {
    padding-left: 200px;
    overflow-x: hidden;
  }
  th, td {
    padding: 6px;
    text-align: left;
  }
  
  .col-12 {
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
   
  @media (max-width: 767px) {
    .wrapper {
     padding:0;
     margin:0;
    }
        
      .rows {
       padding:0;
      }
  }
  
  h1 {
    margin:auto;
    width: 70%;
    text-align: center;
    margin-top: 10px;
    min-width: 222px;
}

a {
    font-size: 150%;
    color: black;
    max-width: 100%;
    word-wrap: break-word;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

.col-sm-12 {
    padding-top: 20px;
}

.form-inline {
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-size: 150%;
    color: black;
    margin-bottom: 0;
}

.fa-wrench {
    font-size: 80%;
}

.collapse{
    text-align:center;
}

.panel-info {
  margin:auto;
  width: 50%;
  margin-top: 50px;
  text-align: center;
  min-width: 200px;
}

.panel-heading {
  text-align: center;
}

.well {
  margin:auto;
  width:50%;
  margin-bottom: 10px;
  background-color: #e2e2ff;
  text-align: center;
}

.perm {
  color: #2ECC40;
  font-size: 75%;
}