input {
  margin: 5px 0;
}

.panel-body {
  padding: 6px 6px;
}

h1 {
  text-align: center;
}

.table-striped {
  padding-left: 5px;
}

th, td {
  padding: 6px;
  text-align: left;
}

.col-12 {
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-block {
  padding: 2px 16px;
  margin: auto;
}
.card-title {
  word-wrap: break-word;
}
.card-text{
  word-wrap: break-word;
}
p{
  word-wrap: break-word;
}

.image{
  background-color: green;
}
h2 {
  font-size: 1.5em;
  margin: .83em 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}


@media (max-width: 767px) {
  .wrapper {
   padding:0;
   margin:0;
  }
      
  .rows {
    padding:0;
  }
}
  
  .fa-wrench {color: rgb(211,211,211);}
  .fa-trash {color: rgb(211,211,211);}
  .fa-trash:hover, .fa-wrench:hover {color: rgba(1, 7, 8, 0.712);}
